<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'etl-client.title.long' | translate }}</h1>
      <div class="actions">
        <a mat-raised-button class="actions-main" color="accent" routerLink="../examples" [ngClass]="routeAnimationsElements">
          {{ 'etl-client.menu.examples' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="warn" routerLink="../settings" [ngClass]="routeAnimationsElements">
          {{ 'etl-client.about.change-theme' | translate }}
        </a>
        <br>
       
      </div>
      <div class="get-started" [ngClass]="routeAnimationsElements">
        <h2 data-testid='get-started'>{{ 'etl-client.about.get-started' | translate }}</h2>
        <code>git clone
          https://github.com/Brylat/ETL-StudyProject.git
          new-project</code><br>
        <code>cd new-project</code><br>
        <code>npm install</code><br>
        <code>npm start</code>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="contributors" [ngClass]="routeAnimationsElements">
    
    <div class="contributors-wrapper">

  <a class="contributor" href="https://github.com/ChuZZZta" target="_blank">
    <img src="https://avatars0.githubusercontent.com/u/33031402?s=400&v=4">
    <span>Dominik Domek</span>
  </a>


  <a class="contributor" href="https://github.com/Brylat" target="_blank">
    <img src="https://media.licdn.com/dms/image/C4E03AQFsKYq2DtNCOg/profile-displayphoto-shrink_200_200/0?e=1548892800&v=beta&t=YtaHDqilIz9ZNHMzJ45LQJczt4tOcv9L0fO86BIKK3o">
    <span>Andrzej Jankowski</span>
  </a>


  <a class="contributor" href="https://github.com/TomirKlos" target="_blank">
    <img src="https://avatars3.githubusercontent.com/u/31741223?s=460&v=4">
    <span>Tomir Kłós</span>
  </a>
    </div>
  </div>
</div>
