<div id="container">
    <div class="row buttons d-flex justify-content-between pad">
        <button type="button" mat-raised-button color="accent" [ngClass]="routeAnimationsElements" (click)="cleanTempFolder()">
            {{ 'etl-client.examples.form.cleanTemp' | translate }}
        </button>

        <button type="button" mat-raised-button color="accent" [ngClass]="routeAnimationsElements" (click)="cleanDatabase()">
            {{ 'etl-client.examples.form.cleanDatabase' | translate }}
        </button>
    </div>
</div>